<div>
    <nav class="navbar navbar-expand navbar-dark bg-brown">
        <a href="#" class="navbar-brand marginLeft">Revest task</a>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse right-section" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item listUserTab" *ngIf="isLoggedIn()">
                    <a routerLink="users" class="nav-link">Users</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a routerLink="add" class="nav-link">Add</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
                <li class="nav-item">
                    <a href="#" class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 main-container">
        <router-outlet></router-outlet>
    </div>
</div>